.back{
	background-image: url(../image/large.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	opacity: 0.9;

}
.text-center{
	text-align: center;
}

.logo{
	width: 50% ;
	height:100% ;
}
.blue{
	background-color:  #3333ff;
}
.text-white{
 	color:white;
}
.bton{
	background-color: #3333ff;
	border: 1px solid white;
	opacity: 0.8;
	margin-top: 5%;
	border-radius: 5%;
	box-shadow: -1px 2px 5px #999;
	padding: 1.5%;
	margin-bottom: 5%;
	width: 40%;
}
.icon{
	padding: 3%;
	color: #006DF0;
}

.text{
	width: 50%;
	height: 50%;
	padding: 5%;
}
.compu{
	width:100% ;
	height:100%;
	opacity: 0.8;

}
.text-left{
	text-align: left;
}

.navy{
	background-color: #000033;

}
#size{
	padding: 3%;
	color: #006DF0;
	font-size: 350%;
}
.aqua{
	color:  #66a3ff;
}
.tall{
	font-size: 180%;
	color: white;
}

.flecha{
	margin-left: 40%;
}
.big{
	margin-left: -150%;
}
.icons{
	border-radius: 150%;
	box-shadow: 3px 2px 5px #999;
	padding: 10%;
}
.contac{
	background-image: url(../image/large.jpg);
	background-size: 100% ;
	background-repeat: no-repeat;
}
.regresar{
	
	background-color: blue;
	width:12% ;
	padding: 2%;
	border-radius: 50%;


}
#mov{
	margin-left: -30%;
}